<h1 class="display-4 text-center">Products Page</h1>
<div class="row">
    <div class="col-md-12">
        <form action="">
            <div class="form-control">
                <label for="category">Select Category</label>
                <select name="category" id="" class="form-select">
                    <option value="all">All categories</option>
                    <% categories.forEach(category=>{%>
                        <option value="<%= category%>"><%= category%></option>
                    <%})%>
                </select>
            </div>
        </form>
    </div>
</div>
<!-- display all products -->
<div class="row">
    <!-- repeat this div -->
    <% data.forEach(product=>{ %>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-dark"><%= product.name%></div>
            <div class="card-body text-dark">
                <blockquote class="blockquote mb-0">
                    <img src="<%= product.logo%>" alt="" class="product-logo">
                    <p>Name: <%= product.name%></p>
                    <p>Version: <%= product.version%></p>
                    <p>Author: <%= product.author%></p>
                    <a href="#" class="btn btn-success">Read More</a>
                </blockquote>
            </div>
        </div>
    </div>
    <%})%>
</div>