<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <!-- Import css, js links -->
    <%- include('partials/links')%>
  </head>

  <body class="<%= dark==true? 'dark': 'light'%>">
    <div class="container">
      <!-- navbar starts -->
      <%- include('partials/navbar')%>
      <!-- navbar end -->
      <h1><%= title%></h1>
      <%= content%> 
    
    <div class="row">
        <div class="col-md-4">
            <h2><%= data.brand %></h2>
            <ul>
                <li>Brand: <%= data.brand %> </li>
                <li>Model: <%= data.model %></li>
                <li>Power: <%= data.power %></li>
                <li>Gear:  <%= data.gear %></li>
                <li>Fuel:  <%= data.fuel %></li>
                <li>prise: <%= data.prise %></li>
                <li>Doors: <%= data.doors %></li>
                <a href="/products/<%= data.id %>">Read more</a>
            </ul>
        </div>
        <!-- example for each one product -->
    </div>
</div>
    <script>
      // alert('<%= title%>')
    </script>
  </body>
</html>
